<div id="form">
  <mat-form-field>
    <mat-select required placeholder="Pick a course..." [(ngModel)]="courseID" (selectionChange)="displayCourseInfo()">
      <mat-option *ngFor="let course of courses" [value]="course.id">
        {{course.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select required [(ngModel)]="teeType" placeholder="Tee Type..." (selectionChange)="displayCourseInfo()">
      <mat-option [value]="0">
        Pro
      </mat-option>
      <mat-option [value]="1">
        Champion
      </mat-option>
      <mat-option [value]="2">
        Men
      </mat-option>
      <mat-option [value]="3">
        Women
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="name" matInput placeholder="Type a name..." #nameInput id="nameInput" autocomplete="off">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addPlayer(name); table.renderRows(); nameInput.value = '';" id="addPlayerButton">Add Player</button>
</div>
<table mat-table [dataSource]="players" #table id="playerTable">
  <ng-container matColumnDef="playerName">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let player"> {{ player | playersCheck: players}} </td>
  </ng-container>
  <ng-container matColumnDef="playerIndex">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let player"> {{ player.index}} </td>
  </ng-container>
  <ng-container matColumnDef="playerRemove">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let player"> <button mat-raised-button color="warn" (click)="removePlayer(player.index); table.renderRows()">Remove</button> </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let players; columns: columnsToDisplay"></tr>
</table>

<div id="course_info" *ngIf="courseData !== undefined && teeType >= 0">
  <h3>{{ courseData['name'] }}</h3>
  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr> <td>Holes</td> <td> {{ courseData['holeCount'] }} </td></tr>
    <tr> <td>Average Par</td> <td> {{ avgPar }} </td> </tr>
    <tr> <td>Total Yardage</td> <td> {{ totalYards }} </td> </tr>
  </table>
</div>

<button id="startButton" mat-raised-button color="primary" (click)="startGame()">Start Game</button>

<div id="resumeGame">
  <mat-form-field>
    <input matInput placeholder="User ID..." autocomplete="off" #resumeUserID>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="courseService.resumeGame(resumeUserID.value)">Resume Game</button>
</div>
